/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~ Split into large sections of the login screen ~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ .login__main           ~~ */
/* ~~ .login__art-container  ~~ */
/* ~~ .login__other-links    ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ .login__main           ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.login__main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.login__main-container {
  padding: 16px;
}

/* more styles under .login__main */
.login__already-have-an-account {
  margin-top: 40px;
}

.login__already-have-an-account-text {
  margin-bottom: 16px;
  font-weight: 900;
}

.login__button--sign-up {
  margin-bottom: 8px;
}

.login__by-signing-up {
  font-size: 12px;
  color: var(--text-secondary);

  margin-bottom: 16px;
}

.login__by-signing-up-link {
  color: var(--text-tertiary);
  text-decoration: none;
}

.login__by-signing-up-link:hover {
  text-decoration: underline;
}

.login__decorative-line {
  width: 120px;
  border: 1px solid var(--text-secondary);
  border-top: none;
  margin: 0 4px;
}

.login__decorative-line-container {
  display: flex;
  align-items: center;
}

.login__logo {
  padding-bottom: 4px;
}

.login__or-container {
  display: flex;
  height: 20px;
  margin: 8px 0;
}

.login__or-text {
  margin: 0 4px;
}

.login__tagline {
  margin-bottom: 20px;
  font-size: x-large;
  font-weight: 900;
}

.login__title {
  font-size: xxx-large;
  font-weight: 900;
  margin: 48px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ .login__art-container  ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.login__art-container {
  height: 327px;
  border: 1px solid blue;
  min-height: 45vh;
  position: relative;
}

.login__picture {
  height: 100%;
  z-index: -1;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login__logo-overlay {
  height: 75%;
}

.login__logo-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ .login__other-links    ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.login__navlink,
.login__navlink-copy {
  color: var(--text-secondary);
  text-decoration: none;
  padding-right: 16px;
  margin: 5px 0;
}

.login__navlink:hover {
  text-decoration: underline;
}

.login__other-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 3px;
  font-size: small;
  padding: 14px 16px;
}
