/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~ Split into large sections of the home screen ~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ .home__top             ~~ */
/*             new post section */
/* ~~ .home__main            ~~ */
/* ~~ .home__aside            ~~ */
/* ~~ .home__nav             ~~ */
/* ~~ @media queries         ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home {
  display: flex;
  flex-direction: column;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~  .home__top            ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home__profile-pic {
  height: 100%;
  border-radius: 50%;
}

.home__show-tweets-container {
  color: var(--text-tertiary);
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid var(--decorative-line);
}

.home__stars-icon-container {
  height: 1.25rem;
  display: flex;
  align-items: flex-end;
}

.home__stars-icon {
  height: 100%;
  color: blue;
}

.home__title {
  font-size: 17px;
  font-weight: 700;
}

.home__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  height: 53px;
}

.home__title-profile-icon-and-title {
  display: flex;
  align-items: center;
}

.home__user-profile-icon {
  width: 56px;
  height: 32px;
}

/*  */
/*  */
/* ~~~ new post section ~~~ */

.home__new-post-button {
  width: auto;
}

.home__new-post-button-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.home__new-post-container {
  display: none;
  border-bottom: 1px solid var(--decorative-line);
  padding: 0 1rem;
}

.home__new-post-icon-button-container {
  display: flex;

  align-items: center;
}

.home__new-post-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home__new-post-profile-pic {
  width: 48px;
  height: 48px;
}

.home__new-post-text {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border: none;
  width: 100%;
  font-size: 1.25rem;
  padding: 0.75rem 0;
}

.home__new-post-text:focus {
  outline: none;
}

.home__new-post-user-profile-icon {
  width: 48px;
  height: 48px;
  margin-right: 0.75rem;
}

.home__new-post-who-can-reply-container {
  font-size: 14px;
  font-weight: 700;

  display: flex;
  border-bottom: 1px solid var(--decorative-line);
  padding-bottom: 0.75rem;

  color: var(--text-tertiary);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~  .home__main           ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~  .home__aside           ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home__hidden-in-first-two-views {
  display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~  .home__nav            ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home__nav {
  border-top: 1px solid var(--decorative-line);
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  background-color: var(--bg-primary);

  height: 50px;
}

.home__nav-icon {
  width: 100%;
  height: 100%;
}

.home__nav-icon-container {
  width: 20px;
  height: 20px;
}

.home__sometimes-hidden {
  display: none;
}

.home__post-button {
  height: 56px;
  width: 56px;
  background-color: var(--text-tertiary);
  font-weight: 900;
  font-size: 2rem;
  color: #fff;

  position: absolute;
  top: -76px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media only screen and (min-width: 500px) {
  .home {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  .home__nav {
    position: fixed;
    top: 0;
    bottom: initial;
    left: initial;

    width: 60px;
    height: 100%;

    flex-direction: column;
    justify-content: flex-start;

    border-right: 1px solid var(--decorative-line);
  }

  .home__nav-container {
    position: relative;
    min-width: 60px;
  }

  .home__nav-logo-container {
    width: 35px;
    height: 50px;
  }
  .home__nav-icon-container {
    height: 50px;
  }

  .home__sometimes-hidden {
    display: initial;
  }

  .home__post-button {
    position: relative;
    top: initial;
    right: initial;

    width: 50px;
    height: 50px;
  }

  .home__hidden-in-desktop-view {
    display: none;
  }

  .home__new-post-container {
    display: flex;
  }
}

@media only screen and (min-width: 1005px) {
  .home__aside {
    min-width: 290px;
    margin: 0 1rem;

    display: flex;
    flex-direction: column;
  }

  .home__aside-section {
    padding: 1rem;
    background-color: var(--bg-tertiary);
    border-radius: 2rem;
    min-height: 2rem;
    margin: 0.5rem 0;
  }

  .home__hidden-in-first-two-views {
    display: flex;
  }
}
