/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~ Split into large sections of the home screen ~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ .home__top    ~~ */
/* ~~ .home__main           ~~ */
/* ~~ .home__nav  ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home {
  display: flex;
  flex-direction: column;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~  .home__top            ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home__profile-pic {
  /* width: 100%; */
  height: 100%;
  border-radius: 50%;
}

.home__show-tweets-container {
  color: var(--bg-secondary);
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid var(--decorative-line);
}

.home__stars-icon-container {
  height: 1.25rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-end;
}

.home__stars-icon {
  /* border: 1px solid red; */
  height: 100%;
  color: blue;
}

.home__title {
  font-size: 17px;
  font-weight: 700;
}

.home__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  height: 53px;
}

.home__title-profile-icon-and-title {
  display: flex;
  /* border: 1px solid orange; */
  align-items: center;
}

.home__user-profile-icon {
  width: 56px;
  height: 32px;
  /* align-items: flex-start; */
  /* border: 1px solid yellow; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~  .home__main           ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~  .home__nav            ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.home__nav {
  /* border: 1px solid blue; */
  border-top: 1px solid var(--decorative-line);
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  background-color: var(--bg-primary);

  height: 50px;
}

.home__nav-icon {
  width: 100%;
  height: 100%;
}

.home__nav-icon-container {
  width: 20px;
  height: 20px;
  /* background-color: red; */
}

.home__sometimes-hidden {
  display: none;
}

.home__post-button {
  height: 56px;
  width: 56px;
  background-color: var(--bg-secondary);
  font-weight: 900;
  font-size: 2rem;
  color: #fff;

  position: absolute;
  top: -76px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* .home__post-button-container {
  background-color: red;
  border: 1px solid red;
  position: absolute;
  height: 0px;
  top: -0px;
  width: 100%;
} */
