/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Split into these large sections: */
/* ~~ Bottom Icon Section    ~~ */
/* ~~ Header - the line with the name in it    ~~ */
/* ~~ profile pic stuff      ~~ */
/* ~~ Everything else        ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ Bottom Icon Section    ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.post__action {
  display: flex;
  /* border: 1px solid teal; */
}

.post__actions-container {
  margin-top: 12px;
}

.icon__reply-container,
.icon__repost-container,
.icon__like-container,
.icon__share-container {
  height: 1rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-end;
}

.icon__reply,
.icon__repost,
.icon__like,
.icon__share {
  height: 80%;
  /* border: 1px solid blue; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ Header - the line with the name in it    ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.post__header {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  flex-basis: auto;
  max-width: 100%;
  /* max-width: fit-content; */

  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow: hidden; */
}

.post__header-names-and-time-container {
  display: flex;
  /* background-color: blue; */
  /* border: 1px solid red; */

  /* flex-basis: auto; */

  /* flex: 1; */
  /* flex: 1 1 auto; */
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
  /* overflow-wrap: break-word; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* flex-shrink: 1;
  max-width: 100%;
  min-width: 0; */
}

.post__header-names-container {
  display: flex;
  /* overflow: hidden; */
  /* flex-shrink: 1; */
  /* max-width: 100%; */
  /* flex-basis: auto; */
  /* flex-direction:column; */
  /* border: 1px solid pink; */

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post__header-name {
  font-weight: 700;
  /* border: 1px solid blue; */
  /* display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  font-weight: 700;

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
  min-width: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */

  /* flex: 1; */

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post__header-at-handle {
  /* border: 1px solid green; */
  color: var(--text-secondary);
  /* flex: 1; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.post__header-dot,
.post__header-recentness {
  color: var(--text-secondary);
}

.post__header-dot-and-recentness-container {
  display: flex;
  /* border: 1px solid lightgreen; */
}

.post__header-dot {
  padding: 0 4px;
}

.post__ellipses-button {
  display: flex;
  flex-basis: auto;
  flex-shrink: 1;
  margin-left: 20px;
  margin-top: -8px;
  margin-bottom: -8px;

  width: 30px;
  height: 30px;
  padding: 0 6px;
  border-radius: 50%;
}

.icon__ellipses {
  width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ profile pic stuff ~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.post__profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post__profile-pic-container {
  width: 48px;
  height: 48px;
  /* border-radius: 50%; */
  /* border: 1px solid red; */
}

.post__profile-pic-side-container {
  /* width: 100px;
  height: 100px;
  border-radius: 50%; */
  /* border: 1px solid orange; */
  margin-right: 12px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~ Everything else        ~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.collapsible {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.collapsible-container {
  display: flex;
  max-width: 100%;
  /* justify-content: space-between; */
}

.post {
  display: flex;
  padding: 12px 16px 0 16px;
  line-height: 1.25rem;
  font-size: 15px;
  border-bottom: 1px solid var(--decorative-line);
}

.post__actions-container {
  display: flex;
  justify-content: space-around;
}

.post__icon-number {
  margin-left: 0.25rem;
  color: var(--text-secondary);
}

.post__main {
  padding-bottom: 12px;
}
