:root {
  --bg-primary: #000;
  --bg-secondary: rgb(0, 186, 124);
  --bg-tertiary: rgb(21, 24, 28);
  --text-primary: rgb(217, 217, 217);
  --text-secondary: rgb(110, 118, 125);
  --text-tertiary: rgb(28, 154, 239);
  --color-blue: var(--text-tertiary);
  --decorative-line: rgb(47, 51, 54);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
